@backgroundNoise: url("/api/s/bgNoise.png");
@colour: #EEE;
.noisyBackground(@colour) {
    background-image: linear-gradient(to bottom, @colour, @colour), @backgroundNoise;
    background-image: -moz-linear-gradient(top, @colour, @colour), @backgroundNoise;
    background-image: -o-linear-gradient(top, @colour,@colour), @backgroundNoise;
    background-image: -ms-linear-gradient(top, @colour,@colour), @backgroundNoise;
    background-image: -webkit-linear-gradient(top, @colour,@colour), @backgroundNoise;
    background-blend-mode: difference;
}

@background: rgba(238,238,233,.1);
@navbar-height: 34px;
@editbarColour: rgba(35,35,30,1);
#underFooterPadding {
  height: 5px;
}
#editFooter {
  position:fixed;
  left:0px;
  width:100%;
  top:auto;
  bottom:auto;
  &.editUp {
    bottom: ~'calc(0px)';
  }
  &:not(.editUp) {
    top:~'calc(100% - 25px)';
    & .hideDown {
      display:none;
    }
  }
  & .editButton {
    float: right;
    margin-right:20px;
    .noisyBackground(@editbarColour);
    padding: 5px 5px 4px 5px;
    color:@colour;
    box-shadow: 0px 0px 8px @editbarColour;
    text-decoration:none;
    &#editFooterSave {
      .noisyBackground(rgb(35,185,30));
      box-shadow: 0px 0px 8px rgb(35,155,30);
    }
    &#editFooterReset {
      .noisyBackground(rgb(175,35,30));
      box-shadow: 0px 0px 8px rgb(145,35,30);
    }
    &#editFooterResize {
      cursor: grab;
      &.grabbing {
        cursor: grabbing;
      }
    }
  }
  & #editFooterContent {
      overflow-y: scroll;
      position: relative;
      z-index:2;
      max-height:45%;
      color:@colour;
      margin-top: 25px;
      .noisyBackground(@editbarColour);
      padding: 3px;
      .editUp &{
        box-shadow: 0px 0px 8px @editbarColour;
      }
    }
}
.editTable {
  border: 0px;
  width:99%;
  & tr {
    &>td {
      height: 28px;
      vertical-align: middle;
      padding-left: .3em;
    }
    &>td:first-child {
      text-align: right;
      padding-right: .3em;
      width: 250px;
      height: 28px;
      vertical-align: middle;
      border-right: 1px solid rgba(255,255,255,.3);
    }
  }
  & #editContents {
    margin-top: .5em;
  }
}
.editHeight {
  height: 0px;
}