@navbarHeight: 34px;
@navbarColour: rgba(35,35,30,1);
@navbarHighlight: #F00;
@width: 850px;
// the noise texture applied to
@backgroundNoise: url("/api/s/bgNoise.png");

.noisyBackground(@colour) {
  background-image: linear-gradient(to bottom, @colour, @colour), @backgroundNoise;
  background-image: -moz-linear-gradient(top, @colour, @colour), @backgroundNoise;
  background-image: -o-linear-gradient(top, @colour,@colour), @backgroundNoise;
  background-image: -ms-linear-gradient(top, @colour,@colour), @backgroundNoise;
  background-image: -webkit-linear-gradient(top, @colour,@colour), @backgroundNoise;
  background-blend-mode: lighten;
}

#navbarContainer {
  position:fixed;
  top:0px;
  left:0px;
  height: @navbarHeight;
  margin: 0px;
  width: 100%;
  box-shadow: 0px 0px 8px @navbarColour;
  .noisyBackground(@navbarColour);

  & .navbarBranding > img {
    margin-top: 2px;
  }
}

.navbar {
  height: @navbarHeight+-4px;
  width: @width;
  margin: 0px auto;

  ul&, & ul {
    list-style-type: none;
  }

  & li {
    .noisyBackground(@navbarColour);
    position: relative;
    float: right;

    &:hover {
      &.navParent > ul {
        display: block;
      }
    }

    &.navParent > ul {
      display: none;
      padding-top: 2px;
      position: absolute;
      left: auto;
      right: 0px;
      z-index:1000;

      & > li {
        &:hover {
          border-right: 2px solid @navbarHighlight;
          padding-right: 2px;
        }

        padding: 0px 4px;
        display: block;
        float: initial;
      }
    }
  }

  & > li {
    &:hover {
      border-top: 2px solid @navbarHighlight;
      padding-top: 0px;
    }

    padding: 2px 0px;
  }
}
.navItemText:not(.navParent) {
    padding: 0px 10px;
}

.navItemText {
  height: @navbarHeight+-4px;
  display: table-cell;
  vertical-align: middle;
  color: #eee;
}
.navItemLink {
  height: @navbarHeight+-4px;
  width:100%;
  display: block;
  text-decoration: none;
}
