// the noise texture applied to
@backgroundNoise: url("/api/s/bgNoise.png");
@colour: #EEE;
.noisyBackground(@colour) {
    background-image: linear-gradient(to bottom, @colour, @colour), @backgroundNoise;
    background-image: -moz-linear-gradient(top, @colour, @colour), @backgroundNoise;
    background-image: -o-linear-gradient(top, @colour,@colour), @backgroundNoise;
    background-image: -ms-linear-gradient(top, @colour,@colour), @backgroundNoise;
    background-image: -webkit-linear-gradient(top, @colour,@colour), @backgroundNoise;
    background-blend-mode: difference;
}

@background: rgba(238,238,233,.1);
@navbar-height: 34px;
@editbarColour: rgba(35,35,30,1);
.shelf {
  @p:13px;
  @colour:#000;

  @pt:@p*2;
  @triColour:@colour+#333;
  height: 8px;
  background: @colour;
  width:~"calc(100% + @{pt})";
  display:block;
  position:relative;
  left:@p*-1;
  box-shadow: 0px 0px 5px #AAA;
  & > .a {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent @triColour transparent;
    position:relative;
    top:-8px;
  }
  & > .b {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent @triColour;
    position:relative;
    left: @p + 850 - 5;
    top:-16px;
  }

}
#errorBar {
  position:fixed;
  top:34px;
  width:100%;
}
.contentPadding {
  padding: 5px;
}
.error {
  padding: .15em 0px;
  width: 100%;
  display:block;
  vertical-align:middle;
  text-align:center;
  border-bottom: 1px solid rgba(205,23,23,.7);
  color:#800;
  background-color:rgba(255,73,73,.7);
  transition-duration: 1s;
  transition-timing-function:linear;
  overflow-x:hidden;
  overflow-y:hidden;
  height:0em;
  & > .closeParent {
    text-decoration:none;
    color:inherit;
  }
}
.notification {
  padding: .15em 0px;
  width: 100%;
  display:block;
  vertical-align:middle;
  text-align:center;
  border-bottom: 1px solid rgba(23,205,23,.7);
  color:#080;
  background-color:rgba(73,255,73,.7);
  transition-duration: 1s;
  transition-timing-function:linear;
  overflow-x:hidden;
  overflow-y:hidden;
  height:0em;
  & > .closeParent {
    text-decoration:none;
    color:inherit;
  }
}
#padTable {
  margin:0px auto;
  width:850px;
}
html, body {
  height:100%;
}
body {
    .noisyBackground(@background);
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}
#padTable {
  height:100%;
  box-shadow: 0px 0px 16px #CCC;
  & #underNavbar {
    height: @navbar-height;
  }
}
#body {
  overflow:auto;
}
#footer {
  height: 25px;
  & td {
    vertical-align: middle;
  }
}
#footer>td, #body {
  background:#FAFAFA;
  width: 850px;
}
#content {
  height:100%;
  width: 850px;
  margin: 0px auto;
}